@model List<ParcialPracticoWeb3.Web.Models.VentasViewModel>
<h1>Resultados</h1>
<table class="table">
    <thead>
        <tr>Id</tr>
    
        <tr>Cliente</tr>
   
        <tr>Cantidad</tr>
   
        <tr>Precio Unitario</tr>
   
        <tr>Total</tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(mItem => item.SaleId)
                </td>
           
                <td>
                    @Html.DisplayFor(mItem => item.Client)
                </td>
           
                <td>
                    @Html.DisplayFor(mItem => item.SaleQuantity)
                </td>
            
                <td>
                    @Html.DisplayFor(mItem => item.UnitPrice)
                </td>
           
                <td>
                    @Html.DisplayFor(mItem => item.TotalSale)
                </td>
            </tr>
        }
    </tbody>
</table>
